In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from scipy import stats

In [26]:
def f(x):
    return DataFrame(x.describe())
def Z_scores(x):
    return Series(stats.zscore(x))
def Variance(x):
    return stats.variation(x)
def Coffecient_of_variation(Standard_deviation,Mean):
    return (Standard_deviation/Mean)*100
def mode(x):
    return stats.mode(x)
def range(maximum,minimum):
    return maximum-minimum;

# 3.8

In [33]:
MobileLoyalty=pd.read_excel("MobileLoyalty.xlsx")
Describe=f(MobileLoyalty)
print(Describe)
print("Mode of mobile loyalty:{}".format(mode(MobileLoyalty['Spend($)'])))
print("Variance of mobile loyalty :{}".format(Variance(MobileLoyalty['Spend($)'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(MobileLoyalty['Spend($)'])))
###Yes since mean is greater than median.it is right skewed.
##

         Spend($)
count   15.000000
mean    56.396667
std     19.504006
min     22.900000
25%     48.375000
50%     55.350000
75%     61.350000
max    108.250000
Mode of mobile loyalty:ModeResult(mode=array([22.9]), count=array([1]))
Variance of mobile loyalty :0.334109456310072
Coefficiient_of_Variation is :Spend($)    34.583614
dtype: float64
Range is :Spend($)    85.35
dtype: float64
Z_scores:0    -0.055548
1    -1.777704
2     0.589266
3    -0.546455
4     0.055902
5     2.751912
6    -0.299675
7    -1.124930
8     1.162433
9    -0.304982
10    0.350446
11    0.175311
12   -0.787928
13    0.013445
14   -0.201493
dtype: float64

3.9

In [37]:
Sedan=pd.read_excel("Sedans.xlsx")

In [38]:
Describe=f(Sedan)
print(Describe)
print("Mode of mobile loyalty:{}".format(mode(Sedan['MPG'])))
print("Variance of mobile loyalty :{}".format(Variance(Sedan['MPG'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(Sedan['MPG'])))

             MPG
count  22.000000
mean   27.772727
std     5.126326
min    22.000000
25%    24.000000
50%    26.000000
75%    30.750000
max    39.000000
Mode of mobile loyalty:ModeResult(mode=array([24], dtype=int64), count=array([4]))
Variance of mobile loyalty :0.18033748941610758
Coefficiient_of_Variation is :MPG    18.458131
dtype: float64
Range is :MPG    17.0
dtype: float64
Z_scores:0     2.041998
1    -0.353946
2     0.444702
3    -0.353946
4    -0.553608
5    -0.154284
6    -0.753270
7    -1.152594
8    -0.154284
9     0.844026
10    2.241660
11   -0.353946
12   -0.753270
13   -0.753270
14   -0.952932
15   -0.753270
16   -0.553608
17    0.644364
18   -0.353946
19    1.842336
20   -1.152594
21    1.043688
dtype: float64

In [41]:
SUV=pd.read_excel("SUV.xlsx")

In [44]:
Describe=f(SUV)
print(Describe)
print("Mode of mobile loyalty:{}".format(mode(SUV['MPG'])))
print("Variance of mobile loyalty :{}".format(Variance(SUV['MPG'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(SUV['MPG'])))

             MPG
count  20.000000
mean   22.850000
std     1.631112
min    21.000000
25%    22.000000
50%    22.000000
75%    24.000000
max    26.000000
Mode of mobile loyalty:ModeResult(mode=array([22], dtype=int64), count=array([7]))
Variance of mobile loyalty :0.0695759872892107
Coefficiient_of_Variation is :MPG    7.138346
dtype: float64
Range is :MPG    5.0
dtype: float64
Z_scores:0     1.981367
1    -0.534655
2     0.094351
3    -1.163660
4     1.352362
5     0.723356
6    -0.534655
7     1.981367
8     1.352362
9    -0.534655
10   -1.163660
11   -1.163660
12   -0.534655
13   -0.534655
14    0.094351
15    0.723356
16    0.094351
17   -0.534655
18   -1.163660
19   -0.534655
dtype: float64

In [46]:
AccountingPartners=pd.read_excel("AccountingPartners.xlsx")
AccountingPartners.columns

Index(['Firm', 'Number of Partners', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [47]:
Describe=f(AccountingPartners)
print(Describe)
print("Mode of mobile loyalty:{}".format(mode(AccountingPartners['Number of Partners'])))
print("Variance of mobile loyalty :{}".format(Variance(AccountingPartners['Number of Partners'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(AccountingPartners['Number of Partners'])))

       Number of Partners  Unnamed: 2  Unnamed: 3
count           35.000000         0.0         0.0
mean            20.171429         NaN         NaN
std              7.245630         NaN         NaN
min             10.000000         NaN         NaN
25%             14.000000         NaN         NaN
50%             19.000000         NaN         NaN
75%             25.500000         NaN         NaN
max             34.000000         NaN         NaN
Mode of mobile loyalty:ModeResult(mode=array([17], dtype=int64), count=array([4]))
Variance of mobile loyalty :0.35403398667262725
Coefficiient_of_Variation is :Number of Partners    35.920264
Unnamed: 2                  NaN
Unnamed: 3                  NaN
dtype: float64
Range is :Number of Partners    24.0
Unnamed: 2             NaN
Unnamed: 3             NaN
dtype: float64
Z_scores:0    -0.444092
1     0.396082
2    -0.164034
3     0.396082
4    -0.304063
5    -0.444092
6     0.396082
7    -0.584122
8     1.936403
9    -1.424296
10   -0.864180
11    1.376286
12   -0.864180
13    1.796374
14    0.816170
15   -0.444092
16   -0.164034
17    0.256053
18   -0.024005
19    0.956199
20    1.796374
21    0.676141
22   -1.144238
23    0.816170
24   -1.004209
25    1.376286
26   -1.004209
27   -1.004209
28    1.796374
29    0.116024
30   -0.444092
31   -1.144238
32   -1.424296
33   -0.864180
34   -1.144238
dtype: float64

In [50]:
Market_Peneration=pd.read_excel("MarketPenetration.xlsx")
Market_Peneration.columns

Index(['Country', 'Facebook Penetration (%)'], dtype='object')

In [51]:
Describe=f(Market_Peneration)
print(Describe)
print("Mode of mobile loyalty:{}".format(mode(Market_Peneration['Facebook Penetration (%)'])))
print("Variance of mobile loyalty :{}".format(Variance(Market_Peneration['Facebook Penetration (%)'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(Market_Peneration['Facebook Penetration (%)'])))

       Facebook Penetration (%)
count                 22.000000
mean                  39.409091
std                   18.456278
min                    6.000000
25%                   27.250000
50%                   42.000000
75%                   55.750000
max                   80.000000
Mode of mobile loyalty:ModeResult(mode=array([42], dtype=int64), count=array([2]))
Variance of mobile loyalty :0.457557854015535
Coefficiient_of_Variation is :Facebook Penetration (%)    46.832539
dtype: float64
Range is :Facebook Penetration (%)    74.0
dtype: float64
Z_scores:0     0.920085
1     0.975542
2     0.199142
3     0.864627
4     0.143684
5    -0.244516
6    -1.797316
7    -0.799087
8     0.143684
9    -1.242744
10    0.199142
11   -1.852773
12   -0.466344
13   -0.632716
14    1.086456
15   -1.076373
16   -0.688173
17   -0.189058
18    0.310056
19    2.251056
20    0.975542
21    0.920085
dtype: float64

In [57]:
Cd_rate=pd.read_excel("CDRate.xlsx")
Cd_rate.columns

Index(['Bank', 'One-Year', 'Five-Year'], dtype='object')

In [58]:
Describe=f(Cd_rate)
print(Describe)
print("Mode of mobile loyalty:{}".format(mode(Cd_rate['One-Year'])))
print("Variance of mobile loyalty :{}".format(Variance(Cd_rate['One-Year'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(Cd_rate['One-Year'])))


print("Mode of mobile loyalty:{}".format(mode(Cd_rate['Five-Year'])))
print("Variance of mobile loyalty :{}".format(Variance(Cd_rate['Five-Year'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(Cd_rate['Five-Year'])))

       One-Year  Five-Year
count  22.00000  22.000000
mean    0.71000   1.535455
std     0.29903   0.424306
min     0.20000   0.600000
25%     0.56250   1.357500
50%     0.80000   1.500000
75%     0.95000   1.895000
max     1.05000   2.250000
Mode of mobile loyalty:ModeResult(mode=array([0.2]), count=array([2]))
Variance of mobile loyalty :0.41148591893880726
Coefficiient_of_Variation is :One-Year     42.116927
Five-Year    27.633895
dtype: float64
Range is :One-Year     0.85
Five-Year    1.65
dtype: float64
Z_scores:0    -1.745649
1    -0.547654
2     0.308056
3    -1.745649
4     0.992624
5     0.821482
6     0.821482
7     0.684568
8     1.163766
9     1.163766
10    0.479198
11    0.924167
12   -1.642963
13   -0.102685
14   -0.376512
15    0.650340
16    0.308056
17   -1.574507
18   -1.403365
19   -0.205370
20    0.000000
21    1.026852
dtype: float64
Mode of mobile loyalty:ModeResult(mode=array([1.5]), count=array([3]))
Variance of mobile loyalty :0.2699854839687289
Coefficiient_of_Variation is :One-Year     42.116927
Five-Year    27.633895
dtype: float64
Range is :One-Year     0.85
Five-Year    1.65
dtype: float64
Z_scores:0    -1.050426
1    -0.447363
2     1.482438
3    -2.256552
4    -0.085525
5    -0.085525
6     0.276312
7    -0.061403
8     1.723663
9     1.241213
10   -0.374995
11   -0.085525
12   -1.460509
13    0.975865
14   -0.302628
15   -0.302628
16    0.541660
17   -0.929813
18    1.241213
19   -0.061403
20   -1.146916
21    1.168846
dtype: float64

In [59]:
Hotel_away=pd.read_excel("HotelAway.xlsx")

In [60]:
Hotel_away.head(2)

     Nationality  Price (USD)
0  United States          179
1          China          173

In [61]:
print("Mode of mobile loyalty:{}".format(mode(Hotel_away['Price (USD)'])))
print("Variance of mobile loyalty :{}".format(Variance(Hotel_away['Price (USD)'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(Hotel_away['Price (USD)'])))

Mode of mobile loyalty:ModeResult(mode=array([173], dtype=int64), count=array([2]))
Variance of mobile loyalty :0.07293643913630529
Coefficiient_of_Variation is :One-Year     42.116927
Five-Year    27.633895
dtype: float64
Range is :One-Year     0.85
Five-Year    1.65
dtype: float64
Z_scores:0    1.219876
1    0.719414
2    0.886234
3    0.719414
4   -0.031279
5   -1.782895
6   -0.948792
7   -0.781972
dtype: float64

In [62]:
Bank1=pd.read_excel("Bank1.xlsx")
Bank1.head(2)

   Waiting Time
0          4.21
1          5.55

In [63]:
Describe=f(Bank1)
print("Mode of mobile loyalty:{}".format(mode(Bank1['Waiting Time'])))
print("Variance of mobile loyalty :{}".format(Variance(Bank1['Waiting Time'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(Bank1['Waiting Time'])))

Mode of mobile loyalty:ModeResult(mode=array([0.38]), count=array([1]))
Variance of mobile loyalty :0.36915488975319266
Coefficiient_of_Variation is :Waiting Time    38.211161
dtype: float64
Range is :Waiting Time    6.08
dtype: float64
Z_scores:0    -0.048448
1     0.798343
2    -0.800450
3     0.532931
4     0.305435
5    -1.230165
6    -0.471844
7    -0.686702
8     0.134813
9     1.145907
10   -2.468755
11    0.526612
12    1.373403
13    1.202781
14   -0.313861
dtype: float64

In [64]:
Bank2=pd.read_excel("Bank2.xlsx")
Bank2.head(2)

   Waiting Time
0          9.66
1          5.90

In [65]:
Describe=f(Bank2)
print("Mode of mobile loyalty:{}".format(mode(Bank2['Waiting Time'])))
print("Variance of mobile loyalty :{}".format(Variance(Bank2['Waiting Time'])))
print("Coefficiient_of_Variation is :{}".format(Coffecient_of_variation(Describe.loc['std'],Describe.loc['mean'])))
print("Range is :{}".format(Describe.loc['max']-Describe.loc['min']))
print("Z_scores:{}".format(Z_scores(Bank2['Waiting Time'])))

Mode of mobile loyalty:ModeResult(mode=array([3.82]), count=array([1]))
Variance of mobile loyalty :0.28273791183361013
Coefficiient_of_Variation is :Waiting Time    29.266154
dtype: float64
Range is :Waiting Time    6.67
dtype: float64
Z_scores:0     1.265337
1    -0.603835
2     0.450059
3    -0.658519
4     0.803015
5    -1.637845
6     0.445088
7     0.614109
8     1.677946
9    -0.216082
10   -0.733087
11   -1.508594
12   -0.469613
13    1.389617
14   -0.817597
dtype: float64

In [104]:
Retirement_funds=pd.read_excel("Retirement Funds.xlsx")
Retirement_funds.head()
#Retirement_funds.columns
#Retirement_funds.drop_duplicates('Fund Number')

,Fund Number,Market Cap,Type,Assets,Turnover Ratio,Beta,SD,Risk,1YrReturn%,3YrReturn%,5YrReturn%,10YrReturn%,Expense Ratio,Star Rating,Unnamed: 14,Bins,Midpoints
0,RF001,Large,Growth,309.9,12.21,1.15,18.72,Low,28.99,24.26,11.06,8.97,1.22,Four,NaN,-15.01,-12.5
1,RF002,Large,Growth,23.3,0.00,2.19,35.72,High,33.40,22.72,-4.89,0.02,1.90,Two,NaN,-10.01,-7.5
2,RF003,Large,Growth,141.5,147.00,2.24,36.69,High,33.98,21.91,1.53,12.55,1.92,Two,NaN,-5.01,-2.5
3,RF004,Large,Growth,118.5,5.00,2.24,36.63,High,33.78,21.89,1.57,12.69,1.73,Two,NaN,-0.01,2.5
4,RF005,Large,Growth,575.3,121.00,0.89,14.56,Low,21.62,16.47,9.40,10.30,1.41,Five,NaN,4.99,7.5

In [108]:
mean1=Retirement_funds['1YrReturn%'].mean()

Retirement_funds.pivot_table(columns=["Type",'Market Cap','Risk'],aggfunc=mean)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [106]:
Retirement_funds.pivot_table(columns=['Type','Market Cap','Risk'],aggfunc='std')

                Type    Market Cap  Risk
Assets          Growth  Large       Average    1790.438428
                                    High         62.667482
                                    Low        1544.085134
                        Mid-Cap     Average     539.264696
                                    Low        1024.554244
                        Small       Average     396.404828
                                    High         50.019791
                                    Low         781.587872
                Value   Large       Average      59.802195
                                    Low        1246.569731
                        Mid-Cap     Average    2635.746726
                                    Low         711.862660
                        Small       Average     334.424334
                                    High        126.713535
                                    Low         795.451648
Turnover Ratio  Growth  Large       Average      51.681752
                                    High         83.464563
                                    Low          87.729002
                        Mid-Cap     Average      71.073436
                                    Low          90.594306
                        Small       Average      40.415021
                                    High         88.427074
                                    Low         123.714680
                Value   Large       Average      83.706686
                                    Low          71.769403
                        Mid-Cap     Average      83.771017
                                    Low         148.382116
                        Small       Average     245.228438
                                    High        234.759451
                                    Low          26.611587
                                                  ...
Bins            Growth  Large       Average            NaN
                                    High          5.000000
                                    Low          15.909903
                        Mid-Cap     Average            NaN
                                    Low                NaN
                        Small       Average            NaN
                                    High               NaN
                                    Low                NaN
                Value   Large       Average            NaN
                                    Low                NaN
                        Mid-Cap     Average            NaN
                                    Low                NaN
                        Small       Average            NaN
                                    High               NaN
                                    Low                NaN
Midpoints       Growth  Large       Average            NaN
                                    High          5.000000
                                    Low          14.960265
                        Mid-Cap     Average            NaN
                                    Low                NaN
                        Small       Average            NaN
                                    High               NaN
                                    Low                NaN
                Value   Large       Average            NaN
                                    Low                NaN
                        Mid-Cap     Average            NaN
                                    Low                NaN
                        Small       Average            NaN
                                    High               NaN
                                    Low                NaN
Length: 180, dtype: float64

In [95]:
Retirement_funds.pivot_table(columns=['Type','Market Cap','Star Rating'],aggfunc='mean')

                Type    Market Cap  Star Rating
Assets          Growth  Large       Five           1219.588889
                                    Four            935.829032
                                    One              24.740000
                                    Three           649.048919
                                    Two             381.395238
                        Mid-Cap     Five            307.571429
                                    Four            558.892857
                                    One              42.300000
                                    Three           475.195000
                                    Two             301.476923
                        Small       Five            730.400000
                                    Four            434.147059
                                    One              43.014286
                                    Three           329.541176
                                    Two              93.477778
                Value   Large       Five            752.100000
                                    Four            781.707692
                                    One             147.240000
                                    Three           193.761905
                                    Two            1260.988889
                        Mid-Cap     Five           1952.100000
                                    Four            653.975000
                                    Three           329.222222
                                    Two            1147.480000
                        Small       Five            344.150000
                                    Four            824.040000
                                    One              37.400000
                                    Three           253.433333
                                    Two              71.300000
Turnover Ratio  Growth  Large       Five             91.221111
                                                      ...
Bins            Value   Small       Two                    NaN
Midpoints       Growth  Large       Five             14.166667
                                    Four             10.833333
                                    One                    NaN
                                    Three            32.500000
                                    Two              -2.500000
                        Mid-Cap     Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
                        Small       Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
                Value   Large       Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
                        Mid-Cap     Five                   NaN
                                    Four                   NaN
                                    Three                  NaN
                                    Two                    NaN
                        Small       Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
Length: 348, dtype: float64

In [97]:
Retirement_funds.pivot_table(columns=['Type','Market Cap','Star Rating'],aggfunc='std')

                Type    Market Cap  Star Rating
Assets          Growth  Large       Five           1529.420511
                                    Four           2195.561237
                                    One              13.307254
                                    Three          1284.550946
                                    Two             753.746507
                        Mid-Cap     Five            237.842341
                                    Four            971.171097
                                    One              49.620224
                                    Three           983.273605
                                    Two             474.622401
                        Small       Five            966.897813
                                    Four            732.804700
                                    One              70.187307
                                    Three           461.052504
                                    Two              87.946060
                Value   Large       Five           1024.880569
                                    Four           1056.596934
                                    One              69.681332
                                    Three           334.179901
                                    Two            2346.503170
                        Mid-Cap     Four           1078.085796
                                    Three           455.406710
                                    Two            2496.287541
                        Small       Five            453.043315
                                    Four            991.869323
                                    One              15.273506
                                    Three           396.309231
                                    Two              79.253013
Turnover Ratio  Growth  Large       Five             87.963643
                                    Four            108.671738
                                                      ...
Bins            Value   Small       Three                  NaN
                                    Two                    NaN
Midpoints       Growth  Large       Five              7.637626
                                    Four             20.816660
                                    One                    NaN
                                    Three                  NaN
                                    Two               5.000000
                        Mid-Cap     Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
                        Small       Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
                Value   Large       Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
                        Mid-Cap     Four                   NaN
                                    Three                  NaN
                                    Two                    NaN
                        Small       Five                   NaN
                                    Four                   NaN
                                    One                    NaN
                                    Three                  NaN
                                    Two                    NaN
Length: 336, dtype: float64